.calendar {
    width: 227px;
    background: gainsboro;
    border-radius: 5px;
    margin: 2px;
    position: absolute;
}

.calendarHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topHeader {
    font-size: 20px;
    background: orange;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.calendarHeaderContainer{
    padding: 2px;
    display: flex;
}

#dayofTheWeek{
    text-align: center;
}

#calendar_body_0 td{
    padding: 0px;
    padding-top: 1px;
    padding-bottom: -1px;
}

#calendar_body_0 tr td button{
    margin: 1px;
    padding: 0px;
    width: 28px;
    text-align: center;
}

#unavailable_dates{
    background-color: darkgrey;
}

#available button{
    color: royalblue;
}

#selected {
    background-color: rgb(100, 195, 240);
}

#half {
    background-color: rgb(90, 138, 160);
}

#left_half {
    background-image: linear-gradient(90deg, rgb(255, 255, 255,0) 50%, darkgrey 50%);
}

#right_half {
    background-image: linear-gradient(90deg, darkgrey 50%, rgb(255, 255, 255, 0) 50%);
}

/*Button Reset*/
button {
    background: none;
    border: none;
}