#pageContent{
    margin-left: 10%;
    margin-right: 10%;
}

.box {
    margin: 20px 30px;
    display: grid;
    border-top-color: grey;
    border-top-style: solid;
    border-top-width: 1px;
}

.box label {
    padding: 3px 10px;
}

.box h3 {
    padding: 10px 0px;
    margin: 0px 0px;
}

.box input {
    font-size: 14px;
    margin: 0.20px 0.5em;
    padding: 0.25em 0.25em;
    width: auto;
}

h1 {
    margin: 20px 20px;
    margin-top: 0px;
    padding-left: 10px;
}

#userPicture img {
    object-fit: cover;
    border-radius: 5%;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#userPicture img:hover {
    object-fit: cover;
    border-radius: 50%;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}


#userInfo {
    padding-left: 10px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

#userDetails {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#userDetails h2 {
    font-size: 36px;
    margin-bottom: 0.5em;
}

#userDetails h4 {
    margin-bottom: 0.5em;
}

#userDetails * {
    margin-top: 0px;
}

.box button {
    background-color:orange;
    color: white;
    padding: 10px 15px;
    width: 17%;
    min-width: 130px;
    margin:10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.box button:hover {
    background-color: rgba(250, 181, 42, 0.705);
    color: black;
    left: 120%;
    -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.btnfos-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.btnfos-4 span {
  z-index: 20;
}
.btnfos-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  width: 50px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: -10;
}

.btnfos-4:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}