.bar {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.bar * {
  font-family: 'Quicksand', sans-serif;
  color: #F8F4F0;
  display: block;
  float: left;
  text-align: center;
  padding: 14px 16px;
  margin: 0px;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 16px;
}

/* Change the color of links on hover */
.bar a:hover {
  background-color: #F8F4F0;
  color: black;
}

#login {
  float: right;
}

.barText {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #F8F4F0;
}

.bar > a {
  margin: 14px;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #F8F4F0;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modalContent {
  align-self: center;
  width: 25%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


#formBlock {
  display: block;
  padding: 10px 20px;
  position: relative;
  background: rgba(248, 244, 240, 0.85);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#formBlock p {
  text-align: center;
  color: black;
}

#formBlock h2 {
  text-align: center;
  padding: 10px 10px;
  color: black;
  margin: 0 0;

}

#formBlock input {
  margin: 2%;
  padding: 5px;
  color: black;
}

#formBlock button{
  font-size: 14px;
  width: 30%;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  background-color: orange;
  color: white;
  margin: 2%;
  padding: 5px;
}

#formBlock input[type=submit] {
  font-size: 14px;
  width: 30%;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  background-color: orange;
  color: white;
}
