#pageContent {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

div#houseInfo h3 {
    font-size: 30px;
    margin: 3px auto;
}

div#houseInfo h5 {
    font-size: 18px;
    margin: 3px auto;
}

#placeTitle {
    border-bottom: orange solid 2px;
}

#placeImages {
    padding: 20px 10px;
    padding-block-end: 0px;
    display: grid;
}

#description {
    padding: 20px 20px;
    font-size: large;
    border-bottom: orange;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#amenities {
    padding: 20px 20px;
    display:block;
}

#Restrictions {
    padding: 20px 20px;
    display:block;
}

.unavailable {
    color: dimgray;
    background: white;
}

.userPicture {
    padding: 30px 10px;
    width: 80px;
    height: 80px;
}

.userPicture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    float: center;
}

.commentUserPicture {
    width: 60px;
    height: 60px;
}

.commentUserPicture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    float: center;
}

#book {
    display:block;
    text-align: center;
    float:right;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    margin:10px 10px;
    left: 35px;
    bottom: -40px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 30%;
    max-width: 300px;
    min-width: 250px;
}

#input_0_start {
    display: grid;
    width: -20%;
    height: 25px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
}

#input_0_end {
    display: grid;
    width: -20%;
    height: 25px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
}

#rentForm input#input_price {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    width: 50px;
    text-align: center;
}

#Comments {
    border-top: orange solid 2px;
    margin-top: 10px;
}

.comment {
    display: flex;
    flex-direction: row;
    margin: 20px 5px;
}

.commentInfo {
    width: 10%;
    text-align: center;
}

.commentInfo a {
    text-decoration: none;
    color:black;
}

.commentInfo .commentUserPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.commentText {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 80%;
    height: auto;

    background-color: rgb(250, 226, 201);;

    display: inline-block;
    position: relative;
    -webkit-tap-highlight-color: transparen t;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;

    transition-duration: 0.6s;
}

.commentText:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    transition-duration: 0.3s;
    top: calc(5%);
    left: 0;
    border-width: 20px 20px 20px 0;
    border-color: transparent transparent transparent transparent;
}

.commentText:hover:before {
    left: -20px;
    border-color: transparent rgb(216, 228, 233) transparent transparent;
}

.commentText .commentHeader {
    padding: 0px;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 5px;
    border-bottom: 2px solid orange;
}

.commentText h3 {
    display: inline-block;
}

.commentDate {
    float: right;
}

.removeComment {
    float: right;
    background-color: orange;
    color: white;
    border: 10px 15px;
    padding: 0px;
    width: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.commentText h4 {
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

#commentForm {
    margin-left: 10%;
}

#commentForm textarea {
    margin-top: 10px;
    width: 500px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}
   
#commentForm textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

#commentForm input[type=text] {
    margin-top: 10px;
    width: 500px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}

#commentForm input[type=number] {
    margin-top: 10px;
    width: 30px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}
   
#commentForm input[type=text]:focus, input[type=number]:focus  {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

#submitComment {
    background-color: orange;
    color: white;
    padding: 10px 15px;
    width: 200px;
    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#generalInfoRentContainer {
    display: grid;
    grid-template-columns: 20% 25% 25% 30%; 
    margin-bottom: 20px ;
}

#userInformations {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}


#userInformations * {
    margin: 5px auto;
    
}

#userInformations > a{
    text-decoration: none;
    color: black;
}


#amenities {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding: 20px 20px;
    display: flex;
    justify-content: space-evenly;
}

#extraAmenities {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#extraRestrictions {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#rentForm {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    padding: 10px 20px;
    background-color:  rgba(255, 180, 42, 0.596);
    border: orange solid 2px;
    border-radius: 5px;
}

#extraAmenities h4 {
    padding-left: 5%;
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#extraAmenities h3 {
    padding-left: 10%;
    margin-bottom: 5px;
    margin-top: 0px;
}

#extraRestrictions h4 {
    padding-left: 5%;
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#extraRestrictions h3 {
    padding-left: 10%;
    margin-bottom: 5px;
    margin-top: 0px;
}

#rentForm #rentSubmission {
    background-color: orange;
    color: white;
    padding: 10px 15px;
    width: 110px;
    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#rentForm #rentSubmission:hover {
    background-color: rgb(253, 219, 155);
    color:black;
    transition-duration: 0.5s;  
}