@media only screen and (max-width: 800px) {
    #placeTitle {
        margin-top: 5px;
        font-size: 44px;
    }

    h2#description {
        padding: 15px 10px;
        font-size: 16px;
    }

    div.comment {
        flex-direction: column;
    }

    div.commentInfo {
        width: 100%;
        display: flex;
        padding-bottom: 15px;
        justify-content: space-between;
    }

    div.commentInfo h5 {
        margin-left: 10px;
    }

    div.commentUser {
        display: flex;
    }

    div.commentUserPicture {
        margin: 0px;
    }

    div.commentText {
        width: 100%;
    }

    #commentForm textarea {
        width: 90%;
    }
    
    #commentForm input[type=text] {
        width: 90%;
    }

    form#commentForm {
        margin: 0px;
        text-align: center;
    }

    div.commentHeader h3 {
        margin: 10px 5px;
    }

    div.commentText h4 {
        margin: 10px;
    }

    div#amenities {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: orange solid 2px;
    }

    div#extraAmenities {
        text-align: center;
        margin-bottom: 15px;
    }

    div#extraAmenities h3 {
        font-size: 14px;
    }

    div#extraRestrictions {
        text-align: center;
        margin-bottom: 15px;
    }

    div#extraRestrictions h3 {
        font-size: 14px;
    }

    div#amenities h3 {
        width: 100%;
        max-width: 200px;
        margin: 5px 5px;
    }

    div#userInformations {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    div#userPicture {
        width: 100px;
        height: 100px;
        margin: auto 3%;
    }

    div#userPicture h3 {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #rentForm {
        text-align: center;
        padding: 0px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    #dates {
        width: 90%;
    }

    #rentForm input#input_0_start {
        width: 35%;
        margin-right: 10px;
        margin-left: 15px;
    }
    
    #rentForm input#input_0_end {
        width: 35%;
        margin-right: 15px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 800px) {
    h2#description {
        padding: 20px 5px;
    }

    #userInformations {
        text-align: center;
    }
    
    #userInformations * {
        margin: 5px auto;
    }

    .commentInfo .commentUserPicture {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div.commentInfo h5 {
        margin-bottom: 0px;
    }

    div.commentInfo h3 {
        margin-top: 5px;
    }

    #commentForm textarea {
        width: 500px;
    }
    
    #commentForm input[type=text] {
        width: 500px;
    }

    #generalInfoRentContainer {
        display: grid;
        grid-template-columns: 20% 25% 25% 30%; 
        margin-bottom: 20px ;
    }
    
    #userInformations {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
    }

    #amenities {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    #extraAmenities {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #extraRestrictions {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #rentForm {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 10px 20px;
    }

    #amenities {
        justify-content: space-evenly;
    }

    #extraAmenities h3 {
        padding-left: 10%;
    }
    
    #extraRestrictions h3 {
        padding-left: 10%;
    }

    #extraAmenities h4 {
        padding-left: 5%;
    }
    
    #extraRestrictions h4 {
        padding-left: 5%;
    }

    #input_0_start {
        display: grid;
        width: -20%;
    }
    
    #input_0_end {
        display: grid;
        width: -20%;
    }
}

#input_0_start {
    height: 25px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
}

#input_0_end {
    height: 25px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
}

#extraAmenities h3 {
    margin-bottom: 5px;
    margin-top: 0px;
}

#extraRestrictions h3 {
    margin-bottom: 5px;
    margin-top: 0px;
}

#extraAmenities h4 {
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#extraRestrictions h4 {
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#userInformations > a {
    text-decoration: none;
    color: black;
}

#amenities {
    text-align: center;
    padding: 20px 20px;
    display: flex;
}

#rentForm {
    justify-self: center;
    align-self: center;
    background-color:  rgb(179, 186, 199);
    border: orange solid 2px;
    border-radius: 5px;
}

#description {
    padding: 20px 5px;
    font-size: large;
    border-bottom: orange;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#pageContent {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

div#houseInfo h3 {
    font-size: 30px;
    margin: 3px auto;
}

div#houseInfo h5 {
    font-size: 18px;
    margin: 3px auto;
}

#placeTitle {
    border-bottom: orange solid 2px;
}

#placeImages {
    padding: 20px 10px;
    padding-block-end: 0px;
    display: grid;
}

#Restrictions {
    padding: 20px 20px;
    display:block;
}

.unavailable {
    color: dimgray;
    background: white;
}

.userPicture {
    padding: 30px 10px;
    width: 80px;
    height: 80px;
}

.userPicture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    float: center;
}

.commentUserPicture {
    width: 60px;
    height: 60px;
}

.commentUserPicture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    float: center;
}

#book {
    display:block;
    text-align: center;
    float:right;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    margin:10px 10px;
    left: 35px;
    bottom: -40px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 30%;
    max-width: 300px;
    min-width: 250px;
}

#rentForm input#input_price {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    width: 50px;
    text-align: center;
}

#Comments {
    border-top: orange solid 2px;
    margin-top: 10px;
}

.comment {
    display: flex;
    flex-direction: row;
    margin: 20px 5px;
}

.commentInfo {
    width: 10%;
    text-align: center;
}

.commentInfo a {
    text-decoration: none;
    color:black;
}

.commentInfo h3{
    display: inline-block;
}

.star1{
    background: -webkit-linear-gradient(0deg,rgb(236, 201, 0) 20%, black 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.star2{
    background: -webkit-linear-gradient(0deg,rgb(236, 201, 0) 40%, black 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.star3{
    background: -webkit-linear-gradient(0deg,rgb(236, 201, 0) 55%, black 45%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.star4{
    background: -webkit-linear-gradient(0deg,rgb(236, 201, 0) 70%, black 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.star5{
    background: -webkit-linear-gradient(0deg,rgb(236, 201, 0) 100%, black 0%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.commentText {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 80%;
    height: auto;

    background-color: rgb(216, 228, 233);

    display: inline-block;
    position: relative;
    -webkit-tap-highlight-color: transparen t;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;

    transition-duration: 0.6s;
}

.commentText:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    transition-duration: 0.3s;
    top: calc(5%);
    left: 0;
    border-width: 20px 20px 20px 0;
    border-color: transparent transparent transparent transparent;
}

.commentText:hover:before {
    left: -20px;
    border-color: transparent rgb(216, 228, 233) transparent transparent;
}

.commentText .commentHeader {
    padding: 0px;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 5px;
    border-bottom: 2px solid orange;
}

.commentText h3 {
    display: inline-block;
}

.commentDate {
    float: right;
}

.removeComment {
    float: right;
    background-color: orange;
    color: white;
    border: 10px 15px;
    padding: 0px;
    width: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.commentText h4 {
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

#commentForm {
    margin-left: 10%;
}

#commentForm textarea {
    margin-top: 10px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}
   
#commentForm textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

#commentForm input[type=text] {
    margin-top: 10px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}

#commentForm input[type=number] {
    margin-top: 10px;
    width: 30px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}
   
#commentForm input[type=text]:focus, input[type=number]:focus  {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

input#classificationForm {
    text-align: center;
}

#submitComment {
    background-color: orange;
    color: white;
    padding: 10px 15px;
    width: 200px;
    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#rentForm #rentSubmission {
    background-color: orange;
    color: white;
    padding: 10px 15px;
    width: 110px;
    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#rentForm #rentSubmission:hover {
    background-color: rgb(253, 219, 155);
    color:black;
    transition-duration: 0.5s;  
}