ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto auto;
}

li {
    margin: 10px;
    padding: 15px 10px;
    list-style-type: none;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 20%;
    min-width: 150px;
    max-width: 250px;
    text-align: center;
}

a {
    text-decoration: none;
    color:black;
}

.userPlace {
    display: flex;
    flex-direction: row;
    margin: 15px 150px;
    border-style: solid;
    border-width: 1px ;
    border-radius: 5px;
    border-color: rgb(211, 209, 209);
}

.userPlace:hover {
    background-color: ghostwhite;
}

.userPlace img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    margin: 10px;
    height: 200px
}

.userPlace .placeImage {
    margin: auto 0px;
    width: 30%;
    min-width: 400px;
    max-width: 400px;
    margin-right: 20px;
}


.userPlaceInfo h2 {
    margin-top: 0px;
}

.userPlaceInfo h3 {
    margin: 7px 0px;
}

.userPlaceInfo p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
