#reservations{
    padding-left: 5%;
    padding-right: 5%;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}

#title{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    border-bottom: 2px solid orange;
}

.request{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 80%;
    height: auto;

    background-color:  rgb(216, 228, 233);

    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.request a{
    text-decoration: none;
    color: black;
}

.request h3 {
    margin-left: 20px;
}