body {
    margin: 0;
    background: #F8F4F0;
    font-family: 'Quicksand', sans-serif;
}

input {
    font-family: 'Quicksand', sans-serif;
}

#profilePicture {
    width: 50px;
    height: 50px;
    padding: 0px;
    border-bottom: none;
    margin-right: 15px;
}

#profilePicture a{
    width: 100%;
    height: auto;
    border-bottom: 0px solid transparent;
    padding: 0px;
}

#profilePicture a:hover {
    background-color: transparent;
    color: transparent;
}

#profilePicture img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    float: center;
    padding: 0px;
    border-bottom: none;
}

#userPicture{
    width: 150px;
    height: 150px;
}

#userPicture img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    float: center;
}

#commentUserPicture{
    width: 60px;
    height: 60px;
}

#commentUserPicture img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    float: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: black;
}

footer p {
    margin: 0px;
    font-size: 13px;
}