@media only screen and (max-width: 800px) {
    div#userMenu {
        align-content: center;
    }

    div#userMenu ul {
        margin: 0px 0px;
    }

    div#userMenu li {
        padding: 13px 10px;
    }

    div#userMenu li {
        padding: 13px 10px;
    }

    div.userPlace {
        display: block;
        width: 80%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        margin-bottom: 35px;
    }

    section#placesSection {
        display: flex;
        flex-wrap: wrap;
    }

    div.placeImage {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .userPlaceInfo h2 {
        margin-bottom: 10px;
    }

    .userPlaceInfo h3 {
        font-size: 16px;
    }

    div#userInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div#userPicture {
        width: 125px;
        margin: auto 3%;
    }

    div#userDetails h4 {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    
    div#userDetails h2 {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 800px) {
    #pageContent {
        display: grid;
        grid-template-columns: 15% auto; 
    }

    div#userDetails h4 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    #userMenu {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    
        min-width: 160px;
    }
    
    #userInfo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    
        min-width: 160px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #placesSection {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    
        margin-right: 10%;
    }

    div.placeImage {
        margin: 10px 0px;
        min-width: 400px;
        max-width: 400px;
        margin-right: 20px;
        margin-left: 15px;
    }

    h3:first-child {
        width: 85%;
    }

    #userInfo #userPicture{
        margin-top: 25%;
        margin-right: 0px;
        margin-left: 50px;
        width: 70%;
        max-width: 150px;
    }
    
    #userInfo #userDetails{
        word-break: break-all;
        margin-right: 0px;
        margin-left: 50px;
        text-align: right;
    }
}

#content-wrap {
    padding-bottom: 0px;
}

#userMenu ul {
    background-color: orange;
    border-radius: 5px;
    padding-left: 0px;
    list-style-type: none;
    margin: 0;
    position: relative;
    
    margin-top: 25%;
    margin-left: 50px;
}

#userMenu li {
    padding: 25px 5px;
    text-align: center;
}

#userMenu li:hover{
    background-color:  rgb(255, 180, 42);
    border-radius: 5px;
}

#userMenu li a {
    height: auto;
    text-decoration: none;
    color: black;
    border-bottom: transparent;
    transition-duration: 0.5s;
}

#userMenu li a:hover{
    transition-duration: 0.5s;
    border-bottom: white solid 1px;
}

#placesSection a {
    text-decoration: none;
    color: black;
}

#placesSection > h3 {
    margin-left: 10%;
    border-bottom: orange solid 2px;
    font-size: 24px;
    padding-bottom: 10px;
}

.userPlace {
    display: flex;
    flex-direction: row;
    margin: 20px 5%;
    margin-left: 10%;
    border-bottom: orange solid 2px;
    border-top: transparent solid 2px;
    border-left: transparent solid 2px;
    border-right: transparent solid 2px;
    border-radius: 0px;
    transition-duration: 0.5s;
}

.userPlace:hover {
    transition-duration: 0.5s;
    background-color: white;
    border: orange solid 2px;
    border-radius: 5px;
}

.userPlace img {
    object-fit: cover;
    width: 100%;
    max-height: 250px;
    border-radius: 5px;
}

div.userPlaceInfo {
    padding-left: 5px;
}

.userPlaceInfo h2 {
    margin-top: 5px;
}

.userPlaceInfo h3 {
    margin: 7px 0px;
}

.userPlaceInfo p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

#numberRequest {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: steelblue;
    text-align: center;
    color: white;
}

.classi {
    display: inline-block;
}
.star{
    display: inline-block;
}

.star1{
    background: -webkit-linear-gradient(0deg,rgb(236, 201, 0) 20%, black 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.star2{
    background: -webkit-linear-gradient(0deg,rgb(236, 201, 0) 40%, black 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.star3{
    background: -webkit-linear-gradient(0deg,rgb(236, 201, 0) 55%, black 45%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.star4{
    background: -webkit-linear-gradient(0deg,rgb(236, 201, 0) 70%, black 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.star5{
    background: -webkit-linear-gradient(0deg,rgb(236, 201, 0) 100%, black 0%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}